.btn {
  padding: .75rem 1.25rem;
  font: var(--button);
  color: var(--text-title);
  border: none;
  border-radius: .5rem;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--pink-dark);


  &:hover {
    background-color: var(--pink-base);
  }
}

.btn-secondary {
  background-color: var(--blue-dark);


  &:hover {
    background-color: var(--blue-base);
  }
}