@media (max-width: 768px) {
  /* ========== GLOBAL ========== */
  html {
    font-size: 87.5%;
  }

  body {
    background-color: var(--shape-background);
    margin: 1.25rem 1.25rem 2.375rem;
    box-sizing: border-box;
  }

  /* ========== LOGO ========== */
  .logo-desktop {
    display: none;
  }

  .logo-mobile {
    display: block;
  }

  /* ========== HERO ========== */
  .hero {
    margin-top: -1.25rem;
    margin-left: -1.25rem;
    margin-right: -1.25rem;
    width: calc(100% + 2.5rem);
    height: 100vh;
    background-position: center -30px;
  }

  .hero-content {
    margin-top: 12rem; /* 116px do topo */
    padding: 0 1.25rem;  /*  20px nas laterais */
  }
}
